<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Samy-Amar"><i class="fa fa-github"></i></a>
    <a href="https://www.instagram.com/skelloapp/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/skello.io"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/Skelloapp"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/10613048/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> for Skello
  </div>
</div>
