<div class="container">
  <div class="row post-container">
    <% @database.each do |post| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="photo">
          <% picture = post[:photo] ? post[:photo] : "http://lorempixel.com/400/400" %>
          <img class="img-responsive" src="<%= picture %>" alt="<%= post[:title] %> ">
        </div>
        <div class="header_and_content">
          <h1 class="post-title"><%= post[:title] %></h1>
          <p class="post-content"><%= post[:content] %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
