<div class="header">
  <h1 id="page-title">
    Latest posts
  </h1>
</div>
<div class="container">
  <div class="row">
    <% @database.each do |post| %>
      <%= erb :'partials/_card', :layout => false, :locals => { :post => post } %>
    <% end %>
  </div>
</div>
