.post-card {
  display: flex;
  position: relative;
  text-align: justify;
  width: 100%;
  padding: 20px;
  background-color: #FcFcFc;
  border-radius: 7px;
  margin: 5px 0;
  height: 200px;
}

.post-card .post-title {
  color: #4BB8D3;
  font-weight: bolder;
  margin-top: 5px;
  font-size: 18px;
}

.post-card .post-content {
  min-width: 150px;
  width: 70%;
}

.post-card img {
  height: 150px;
  margin: 0 20px 0 0;
  max-width: 150px;
}

.post-card:hover {
  box-shadow: 1px 1px 10px #CCC;
}

.post-card .rating {
  position: absolute;
  left: 20px;
  top: 20px;
  text-shadow: 1px 1px 2px black;
}

.post-card .rating .fa-star {
  color: #FFD670;
}
