<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Add a post
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New post</h4>
      </div>

      <form action="/posts/new" method="POST">
        <div class="modal-body">
          <label for="post[title]" class="control-label">Title</label>
          <input type="text" class="form-control" name="post[title]" placeholder="Enter your title here...">
          <label for="post[content]" class="control-label">Content</label>
          <input type="text" class="form-control" name="post[content]" placeholder="Enter your content here...">
          <label for="post[photo]" class="control-label">Photo URL</label>
          <input type="text" class="form-control" name="post[photo]" placeholder="Enter the link of your picture here...">
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-primary" value="Add post"></input>
        </div>
      </form>
    </div>
  </div>
</div>
