<div class="navbar">
  <a href="/posts">
    <!-- logo skello ? -->
    <img src="https://raw.githubusercontent.com/Samy-Amar/photos-skello/master/Skello%20Logo.png"  id="logo" alt="logo_skello">
  </a>
</div>
